body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  /* font-family: 'Poppins', sans-serif; */
}

p {
    font-size: 1rem;
}



.trial-text {
  color: whitesmoke;
  background-color: hsl(248, 32%, 49%);
  padding: 20px;
  width: 40%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 30px;
}

.form {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: whitesmoke;
  border: solid snow 5px;
  padding: 20px;
  width: 40%;
  height: 40%;
  margin-bottom: 5%;
}

.form-control {
  border-radius: 5px;
  width: 90%;
  padding: 15px;
  margin: 5px;
  border: solid lightgrey;
}

.btn {
  color: snow;
  background-color: hsl(154, 59%, 51%);
  font-weight: bolder;
  border: hsl(154, 59%, 51%);
  border-radius: 5px;
  padding: 15px;
  margin-top: 2%;
  width: 98%;
}

.terms {
    text-align: center;
}

.services {
    color: red;
}